body {
    background: rgb(233, 230, 230);
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

main {
    height: 1780px;
    width: max-content;
    background: rgb(233, 230, 230);
}
.header {
    height: 53px;
    width: 1350px;
    display: flex;
    justify-content: center;
    background: white;
    font-family: 'Fjalla One', sans-serif;
}
h2 {
    margin:auto;
    padding-right: 195px;
}

.post {
    width: 450px;
    height: 360px;
    background: white;
    margin-top: 50px;
    margin-left: 460px;
}
.post-header {
    display: flex;
    width: 390;
    height:50px;
}
.post-header-left {
width: 400px;
height: 50px;
padding-left: 15px;
font-family: 'Fjalla One', sans-serif;
}
.post-header-rigth {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    color:rgb(233, 230, 230)
    }
.imagen {
    height: 250px;
    width: 450px;
}
img {
    height: 250px;
    width: 450px;
}
p {
    margin: 10px;
    
}